@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-transparent {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  .scrollbar-transparent::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-transparent::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-transparent::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 9999px;
  }
  .scrollbar-transparent:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
  }
}
